

        
        body {
            background-color: #000;
            color: #fff;
        }
        
        
        
        header {
            text-align: center;
            width: 100%;
        }
        
        header .logoTitle{
            font-size: 5em;
            text-transform: uppercase;
        }
        
        header nav ul{
            list-style: none;
        }
        
        header nav ul li{
            display: inline;
            font-size: 1.5em;
            padding: 15px;
            text-transform: lowercase;
        }
        
        .error{
            color:#ff0000;
        }
        
        
        .recipes {
            background-color: #fff;
        }
        
        .recipes .row{
            background-color: #fff;    
        }
        
        
        
        .recipes .row .recipeImage {
           padding-left: 0;
           padding-right: 0;
        }
        
        .recipes .row .recipeImage img {
            width: 100%;
        }
        
        
        
        
        
        .recipes .row .recipeDetails {
            background-color: #fff;
            color: #000;
            text-align: center;
            position: relative;
        }
        
        .recipes .row .recipeDetails h2{
            text-transform: uppercase;
            font-size: 2em;
        }
        
        .recipes .rowBackwards{
            display: table;
            width: 100%;
        }
        .recipes .rowBackwards .recipeImage{
            display: table-header-group;
        }
        .recipes .rowBackwards .recipeDetails{
            display: table-footer-group;
        }
        
        .recipes .row .recipeImage .arrow{
            display: none;
        }
        
        
        .recipes .row {
            padding-right:15px;
            padding-left:15px;
        }
        
        .recipeDetails .btn{
            margin-bottom: 15px;
        }
        
        
        
        .hero{
                position: relative;
    overflow: hidden;
    padding: 30px 0;
            }
            
            .hero h1{
                
    position: relative;
    z-index: 2;
    color:#fff;
            }
            
            .hero .bgImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 150%;
    height: auto;
    opacity: 0.4;
}
            
            .hero p{
                color:#ccc;
            }
            
            .hero a{
                color:#fff;
            }
            
            .hero .mainImage{
                width:100%;
            }
        
        
        .ingredients ul{
            list-style: none;
        }
        
        .ingredients ul li{
            padding: 0 0 15px 0;
        }
        
        
        .instructions ul{
            list-style-type: decimal;
        }
        
        .instructions ul li{
            padding: 0 0 15px 0;
        }
        footer{
            padding-bottom: 60px;
        }
        .footerLeft{
            text-align: left;
            float: left;
            width: 50%
        }
        
        .footerRight{
            text-align: right;
            float: right;
            width: 50%
        }
        
        .controlGroup{
            border: solid #ccc 1px;
            padding: 15px;
            border-radius: 5px;
        }
        
        .form-inline .form-group {
            width:100%;
        }
        .form-inline .form-group textarea {
            width:100%;
        }
        
        
        
        @media screen and (min-width:1200px){
            .recipes .row {
                padding: 0;
            }
            
            
            .recipes .row .recipeImage {
            overflow: hidden;
            }
            
            
            .arrow {
            position: absolute;
            right:-.3em;
            top: 0;
            display: block !important;
            color: #fff;
            padding: 0;
            margin: -15px 0 0 0;
            line-height: 1em;
            }

            .recipes .rowBackwards{
                display: inline;
            }
            .recipes .rowBackwards .recipeImage{
                display: inline;
            }
            
            .recipes .rowBackwards .recipeImage .arrow {
            
            left:-.3em;
           
            }
            
           
            .recipes .rowBackwards .recipeDetails{
                display: inline;
            }
            
            .form-inline .form-group textarea {
                width:85%;
            }
        }
