

        
        body {
            background-color: #000;
            color: #fff;
        }
        
        
        
        header {
            text-align: center;
            width: 100%;
        }
        
        header .logoTitle{
            font-size: 5em;
            text-transform: uppercase;
        }
        
        header nav ul{
            list-style: none;
        }
        
        header nav ul li{
            display: inline;
            font-size: 1.5em;
            padding: 15px;
            text-transform: lowercase;
        }
        
        .error{
            color:#ff0000;
        }
        
        
        .recipes {
            background-color: #fff;
        }
        
        .recipes .row{
            background-color: #fff;    
        }
        
        
        
        .recipes .row .recipeImage {
           padding-left: 0;
           padding-right: 0;
        }
        
        .recipes .row .recipeImage .food {
            width: 100%;
        }
        
        
        
        
        
        .recipes .row .recipeDetails {
            background-color: #fff;
            color: #000;
            text-align: center;
            position: relative;
            margin-bottom: 60px;
        }
        
        .recipes .row .recipeDetails h2{
            text-transform: uppercase;
            font-size: 2em;
        }
        
        .recipes .rowBackwards{
            display: table;
            width: 100%;
        }
        .recipes .rowBackwards .recipeImage{
            display: table-header-group;
        }
        
        
        .recipes .row .recipeImage .arrow{
            display: none;
        }
        
        
        .recipes .row {
            padding-right:15px;
            padding-left:15px;
        }
        
        .row a:hover .recipeDetails{
            color: #23527C;
        }
        
        
        
        
        .hero{
                position: relative;
    overflow: hidden;
    padding: 0 0 30px 0;
    margin-top: 30px;
            }
            
            .hero h1{
                
    position: relative;
    z-index: 2;
    color:#fff;
    margin: 15px;
    
            }
            
            .hero .bgImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 150%;
    height: auto;
    opacity: .2;
}
            
            
            .hero a{
                color:#fff;
            }
            
            .hero .mainImage{
                width:100%;
            }
        .hero .star{
            font-size: 1.25em !important;
        } 
        
        .ingredients ul{
            list-style: none;
            padding-left: 15px;
        }
        
        .ingredients ul li{
            padding: 0 0 15px 0;
 
        }
        
        .instructions{
            background-color: #fff;
            color: #000;
        }
        .instruction{
            margin-bottom:15px;
        }
        .instruction .instructionNumber{
            font-size: 2em;
            text-align: right;
        }
        .instruction .instructionDetail{
            border-left:solid 1px #fff;
            margin-bottom: 30px;
        }
       
        footer{
            padding-top: 30px;
            padding-bottom: 60px;
        }
        .footerLeft{
            text-align: left;
            float: left;
            width: 50%
        }
        
        .footerRight{
            text-align: right;
            float: right;
            width: 50%
        }
        
        .controlGroup{
            border: solid #ccc 1px;
            padding: 15px;
            border-radius: 5px;
        }
        
        .form-inline .form-group {
            width:100%;
        }
        .form-inline .form-group textarea {
            width:100%;
        }
        
        
        .txtNewCuisine{
            display: none;
        }
        
        .txtNewIngredient{
            display: none;
        }
        .fbCommentWrapper{
            padding: 15px;
        }
        
        
        @media screen and (min-width:992px){
            .recipes .row {
                padding: 0;
            }
            
            
            .recipes .row .recipeImage {
            overflow: hidden;
            }
            
            
            .recipes .row .recipeDetails {

            margin-bottom: 0;
        }
        
        .recipes .row .recipeDetails h2{
            font-size: 1.5em;
        }
            
            .arrow {
            position: absolute;
            top:0;
            right: 0;
            height: 100%;
            display: block !important;
            text-align: right;
            }
            
            .arrow img{
                height: 100%;
            }

            .recipes .rowBackwards{
                display: inline;
            }
            .recipes .rowBackwards .recipeImage{
                display: inline;
            }
            
            .recipes .rowBackwards .recipeImage .arrow {
            text-align: left;
            left: 0;
            
            }
            
           
            .recipes .rowBackwards .recipeDetails{
                display: inline;
            }
            
            .form-inline .form-group textarea {
                width:85%;
            }
        }
 @media screen and (min-width:1200px){
     .recipes .row .recipeDetails h2{
            font-size: 2em;
        }
     
 }